@charset "UTF-8";



div.a {
    text-align: center 90px;
}



img{
    border-radius: 60px;
    margin-inline:  200px;
    border-inline-end: 40px;
    border-image-source: url("Qr\ mobile.png");
    

    border: 70px; color: rgb(70, 3, 97);
    border: 10px solid

    
}

body{
    background-color: rgba(93, 6, 119, 0.466);
    position: absolute;
    
    top: 50px;
    left: 70px;
}


h1{
    
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 70px;
    position:relative;
    
    
    color: rgb(230, 230, 230);
    text-align: justify;
text-decoration: underline
alingn- itens; text-justify: 20px;


}




