@charset "UTF-8";



div.a {
    text-align: center 90px;
}



img{
    border-radius: 60px;
    margin-inline:  200px;
    border-inline-end: 40px;
    border-image-source: url("Qr\ mobile.png");

    border: solid 10px rgb(94, 6, 116);
    flex: content;
    align-items: center;
    width: 50;
    margin-top: 70px;
    display: flex;

    


}  
 body{
 

    background-color: rgba(43, 129, 179, 0.884);

  
 }
button{
    display: flex;
    position: absolute ;
    margin-top: 500PX;
    color: rgb(23, 20, 220);
    border-radius: solid rgba(83, 8, 8, 0.76);
    border-color: rgba(42, 211, 211, 0.863);
    border-radius: 5px;
    font-size: 20px;
    margin-inline: 290px;
    font-family: 'Franklin Gothic Medium'
    
    
    

    
}
h1{
color: rgba(38, 5, 156, 0.911);

    display: flex;
    align-items: 90px ;
    margin-inline: 238px;
    position: absolute ;
    z-index: 999;
    margin-top: 120px;
    font-size: 3em
    
  
 
}

    
   
        
    